{{ $class := .Scratch.Get "class" }}
{{ $link := .Scratch.Get "link" }}
{{ $btn_text := .Scratch.Get "btn-text" }}
{{ $outer := default true (.Scratch.Get "outer") }}

<a href="{{ $link }}" class="{{ $class }} bg-gradient-to-r hover:from-white hover:to-white hover:border-4 text-white text-[16px] lg:text-[20px] 3xl:text-[32px] inline-block text-center shadow-xl leading-[64px] lg:leading-[80px] hover:leading-[59px] lg:hover:leading-[75px] block h-[64px] lg:h-[80px] w-[340px] lg:w-[440px] 3xl:w-1/2 rounded-full relative cursor-pointer transition-colors duration-500" {{if $outer}} target="_blank" rel="noopener noreferrer" {{end}}>{{ $btn_text }}</a>
