{{ $num_src := .Scratch.Get "num-src" }}
{{ $icon_src := .Scratch.Get "icon-src" }}

<div class="w-[175px] h-[175px] 3xl:w-[300px] 3xl:h-[300px] mx-auto rounded-[70px] 3xl:rounded-[117px] bg-gradient-to-r from-sky-400 to-[#34A7E1] flex flex-col justify-center">
    <div class="bg-white w-[152px] h-[152px] 3xl:w-[286px] 3xl:h-[286px] mx-auto rounded-[60px] flex flex-col justify-center">
        {{ .Scratch.Set "class" "w-[70px] h-[70px] mx-auto object-contain absolute top-[-20px] left-[-20px]" }}
        {{ .Scratch.Set "src" $num_src }}
    
            {{ partial "atom/atom-picture.html" . }} 
    
        {{ .Scratch.Delete "src" }}
        {{ .Scratch.Delete "class" }}
    
        {{ .Scratch.Set "class" "w-[72px] h-[72px] 3xl:w-[92px] 3xl:h-[92px] mx-auto object-contain" }}
        {{ .Scratch.Set "src" $icon_src }}
    
            {{ partial "atom/atom-picture.html" . }} 
    
        {{ .Scratch.Delete "src" }}
        {{ .Scratch.Delete "class" }}
        
        <div class="text-[16px] 3xl:text-[15px] leading-[45px] mx-auto text-center font-bold">
            {{ partial "atom/p.html" . }}
        </div>
    </div>
</div>
