{{ $src := .Scratch.Get "src" }}
{{ $id := .Scratch.Get "id" }}

<div class="relative cursor-pointer select-none transform transition duration-500 hover:scale-110 mx-auto">

    {{ .Scratch.Set "class" "w-full h-full object-cover mx-auto rounded-3xl shadow-lg shadow-gray-100 movie-thumbnail" }}
    {{ .Scratch.Set "src" $src }}
    {{ .Scratch.Set "type" "thumbnail-lg" }}
    {{ .Scratch.Set "quolity" "100" }}
    {{ .Scratch.Set "id" $id }}

        {{ partial "atom/atom-picture.html" . }}

    {{ .Scratch.Delete "id" }}
    {{ .Scratch.Delete "quolity" }}
    {{ .Scratch.Delete "type" }}
    {{ .Scratch.Delete "src" }}
    {{ .Scratch.Delete "class" }}

    <div class="bg-gradient-to-r from-sky-600 to-[#5FBCE7] w-[66px] h-[66px] 3xl:w-[100px] 3xl:h-[100px] flex flex-col justify-center rounded-full border-4 border-[#1264A3] absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none">
        
        {{ .Scratch.Set "class" "w-[22px] h-[22px] 3xl:w-[33px] 3xl:h-[33px] mx-auto" }}
        {{ .Scratch.Set "src" "images/arrow.png" }}
        {{ .Scratch.Set "type" "thumbnail-lg" }}
        {{ .Scratch.Set "quolity" "100" }}
        {{ .Scratch.Set "id" $id }}
    
            {{ partial "atom/atom-picture.html" . }}
    
        {{ .Scratch.Delete "id" }}
        {{ .Scratch.Delete "quolity" }}
        {{ .Scratch.Delete "type" }}
        {{ .Scratch.Delete "src" }}
        {{ .Scratch.Delete "class" }}

    </div>
</div>