{{ $nav_class := default "" (.Scratch.Get "nav-class") }}
{{ $ul_class := default "" (.Scratch.Get "ul-class") }}

<nav class="{{ $nav_class }}">
    <ul class="{{ $ul_class }}">
        <li class="hover:opacity-80"><a href="#Manga">ITコストの課題</a></li>
        <li class="hover:opacity-80"><a href="#Features">ジェネリックDXの特徴</a></li>
        <li class="hover:opacity-80"><a href="#Needs">多様なニーズに対応</a></li>
        <li class="hover:opacity-80"><a href="#Pdca">サービス</a></li>
        <li class="hover:opacity-80"><a href="#Process">運用までの流れ</a></li>
        <li class="hover:opacity-80"><a href="#Contact">お問い合わせ</a></li>
    </ul>
</nav>