{{ $class := "" }}

{{ if in .Permalink "download" }}   
    {{ $class = "" }}
{{ else }}
    {{ $class = "" }}
{{ end }}

<footer class="w-full max-w-[1414px] mx-auto pt-[100px] pb-[100px] lg:pb-[24px] {{ $class }} lg:w-11/12 3xl:w-full">

    <div class="w-[calc(100%_-_16rem)]">
        <div class="flex items-center ml-4 lg:ml-0">
            {{ .Scratch.Set "class" "h-[46px] w-[56px] lg:h-[50px] lg:w-[60px] 3xl:w-[101px] 3xl:h-[91px] mr-4 object-contain" }}
            {{ .Scratch.Set "src" .Site.Params.images.logoLine }}
    
                {{ partial "atom/atom-picture.html" . }}
    
            {{ .Scratch.Delete "src" }}
            {{ .Scratch.Delete "class" }}
    
    
            {{ .Scratch.Set "text-span" "Generic DX" }}
            {{ .Scratch.Set "span-class" "text-[32px] 3xl:text-[50px]" }}
    
                {{ partial "atom/span.html" . }}
    
            {{ .Scratch.Delete "span-class" }}
            {{ .Scratch.Delete "text-span" }}
        </div>
    
        <div class="flex flex-col md:flex-row justify-center items-center gap-0 md:gap-10 3xl:gap-[206px]">
            {{ .Scratch.Set "class" "bg-[#34A7E1] hover:text-[#34A7E1] hover:bg-white border border-[#34A7E1] text-white text-[16px] lg:text-[20px] 3xl:text-[32px] mt-10 py-5 3xl:py-8 rounded-3xl w-72 3xl:w-[354px] inline-block text-center" }}
            {{ .Scratch.Set "link" "download" }}
            {{ .Scratch.Set "btn-text" "資料ダウンロード" }}
            {{ .Scratch.Set "internal" true }}
    
                {{ partial "atom/a.button.html" . }}
    
            {{ .Scratch.Delete "internal" }}
            {{ .Scratch.Delete "btn-tex" }}
            {{ .Scratch.Delete "link" }}
            {{ .Scratch.Delete "class" }}
    
            {{ .Scratch.Set "class" "bg-[#E01E5B] hover:text-[#E01E5B] hover:bg-white border border-[#E01E5B] text-white text-[16px] lg:text-[20px] 3xl:text-[32px] mt-5 md:mt-10 py-5 3xl:py-8 rounded-3xl w-72 3xl:w-[354px] inline-block text-center" }}
            {{ .Scratch.Set "link" "https://andaze.com/ja/contact/" }}
            {{ .Scratch.Set "btn-text" "お問い合わせ" }}
            {{ .Scratch.Set "internal" false }}
    
                {{ partial "atom/a.button.html" . }}
    
            {{ .Scratch.Delete "internal" }}
            {{ .Scratch.Delete "btn-tex" }}
            {{ .Scratch.Delete "link" }}
            {{ .Scratch.Delete "class" }}
        </div>
    
        <div class="flex flex-col md:flex-row justify-between gap-4 lg:gap-0 w-full md:w-3/4 md:mx-auto lg:w-full mt-12 lg:mt-28 text-center lg:text-left">
            <nav>
                <ul class="flex justify-center lg:justify-start text-[14px] lg:text-[20px] 3xl:text-[32px] text-[#1A81B6] font-bold">
                    <li class="mr-14 before:content-['-']"><a href="https://andaze.com/ja/company/about/" target="_blank" rel="noopener noreferrer">運営会社</a></li>
                    <li class="before:content-['-']"><a href="https://andaze.com/ja/privacy-policy/" target="_blank" rel="noopener noreferrer">プライバシーポリシー</a></li>
                </ul>
            </nav>
            {{ .Scratch.Set "text-small" "©ANDAZE Ltd." }}
            {{ .Scratch.Set "small-class" "text-[14px] lg:text-[20px] 3xl:text-[32px] text-[#1A81B6] font-bold" }}
    
                {{ partial "molecule/div.small.html" . }}
    
            {{ .Scratch.Delete "text-small" }}
            {{ .Scratch.Delete "small-class" }}
        </div>
    </div>

</footer>

<script src="https://unpkg.com/flowbite@1.5.3/dist/flowbite.js"></script>
{{ partialCached  "script-mainjs.html" . }}