{{ .Scratch.Set "text" (.Get "text") }}
{{ .Scratch.Set "icon-src" (.Get "icon-src") }}
{{ .Scratch.Set "annotation-src" (.Get "annotation-src") }}
{{ .Scratch.Set "annotation" (.Get "annotation") }}

{{ $annotation := .Scratch.Get "annotation" }}
{{ $class := "" }}
{{ if eq $annotation 4 }}
    {{ $class = "z-[15] after:top-[-50px] lg:after:left-[-200px] after:w-[80px] lg:after:w-[150px] before:content-[''] before:w-[50px] before:h-[57px] 3xl:before:w-[100px] 3xl:before:h-[114px] before:bg-none lg:before:bg-[url('../img/arrow_triangle.png')] over-size:before:bg-none before:bg-cover before:absolute before:top-1/2 before:-translate-y-1/2 before:left-[-50px] 3xl:before:left-[-100px]" }}
{{ else if eq $annotation 5 }}
    {{ $class = "z-10 after:top-[-50px] lg:after:left-[-200px] after:w-[120px] lg:after:w-[200px]" }}
{{ else if gt $annotation 5 }}
    {{ $class = "after:top-[-50px] lg:after:left-[-200px] after:w-[120px] lg:after:w-[200px]" }}
{{ else }}
    {{ $class = "after:bottom-[-70px] lg:after:left-auto lg:after:right-[-200px] after:w-[120px] lg:after:w-[200px]" }}
{{ end }}

{{ if eq $annotation 1 }}
<a href="#Contact" class="cursor-pointer">
    <li class="w-[250px] h-[250px] 3xl:w-[350px] 3xl:h-[350px] bg-gradient-to-r from-blue-600 via-blue-700 to-[#1264A3] rounded-[117px] rounded-[70px] 3xl:rounded-[117px] flex flex-col justify-center relative after:content-[''] after:absolute lg:after:top-1/2 after:-translate-y-1/2 after:left-1/2 after:-translate-x-1/2 lg:after:translate-x-0 after:bg-[#1264A3] after:h-[20px] 3xl:after:h-[40px] after:rotate-90 lg:after:rotate-0 over-size:after:hidden shadow-2xl {{ $class }}">
        {{ partial "molecule/div.process-item.html" . }}
    </li>
</a>
{{ else }}
    <li class="w-[250px] h-[250px] 3xl:w-[350px] 3xl:h-[350px] bg-gradient-to-r from-blue-600 via-blue-700 to-[#1264A3] rounded-[117px] rounded-[70px] 3xl:rounded-[117px] flex flex-col justify-center relative after:content-[''] after:absolute lg:after:top-1/2 after:-translate-y-1/2 after:left-1/2 after:-translate-x-1/2 lg:after:translate-x-0 after:bg-[#1264A3] after:h-[20px] 3xl:after:h-[40px] after:rotate-90 lg:after:rotate-0 over-size:after:hidden shadow-2xl {{ $class }}">
        {{ partial "molecule/div.process-item.html" . }}
    </li>
{{ end }}

{{ .Scratch.Delete "annotation" }}
{{ .Scratch.Delete "annotation-src" }}
{{ .Scratch.Delete "icon-src" }}
{{ .Scratch.Delete "text" }}