@tailwind base;
@tailwind components;

@layer base {
  html {
    font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  }
}

p {
  line-height: 2;
  font-size: 20px;
}

@media screen and (min-width:1920px) {
  p {
    font-size: 24px
  }
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

#download_form_wrapper {
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
}

/*スクロールバー非表示（Chrome・Safari）*/
#download_form_wrapper::-webkit-scrollbar{
  display:none;
}

@tailwind utilities;
