@tailwind base;
@tailwind components;

@layer base {
  html {
    font-family: 'Noto Sans JP', "ヒラギノ角ゴ Pro W3", Meiryo, メイリオ, Osaka, "MS PGothic", arial, helvetica, sans-serif;
  }
}

p {
  line-height: 2;
  font-size: 16px;
}

@media screen and (min-width:768px) {
  p {
    font-size: 20px
  }
}

@media screen and (min-width:1920px) {
  p {
    font-size: 24px
  }
}

.transition-fade {
  transition: 0.4s;
  opacity: 1;
}

html.is-animating .transition-fade {
  opacity: 0;
}

#download_form_wrapper {
  /*スクロールバー非表示（IE・Edge）*/
  -ms-overflow-style: none;
  /*スクロールバー非表示（Firefox）*/
  scrollbar-width: none;
}

/*スクロールバー非表示（Chrome・Safari）*/
#download_form_wrapper::-webkit-scrollbar{
  display:none;
}

.fukidashi::before {
  content: "";
  position: absolute;
  top: -31px;
  left: 50%;
  margin-top: -38px;
  border: 33px solid transparent;
  border-bottom: 42px solid #FFF;
  z-index: 2;
  transform: translateX(-50%);
}

.fukidashi::after {
  content: "";
  position: absolute;
  top: -35px;
  left: 50%;
  margin-top: -37px;
  border: 32px solid transparent;
  border-bottom: 40px solid #9D9D9D;
  z-index: 1;
  transform: translateX(-50%);
}

@media screen and (min-width:768px) {
  .fukidashi::before {
    top: 50%;
    left: -70px;
    margin-top: -38px;
    border: 33px solid transparent;
    border-right: 42px solid #FFF;
    transform: translateX(0);
  }
  
  .fukidashi::after {
    top: 50%;
    left: -73px;
    margin-top: -37px;
    border: 32px solid transparent;
    border-right: 40px solid #9D9D9D;
    transform: translateX(0);
  }
}

@tailwind utilities;
