{{ $src := .Scratch.Get "src" }}
{{ $title := .Scratch.Get "title" }}
{{ $text := .Scratch.Get "text" }}

<div>
    {{ .Scratch.Set "class" "max-w-[1428px] w-full lg:w-11/12 mx-auto shadow-lg shadow-gray-500" }}
    {{ .Scratch.Set "src" $src }}
    {{ .Scratch.Set "type" "content" }}
    {{ .Scratch.Set "quolity" "100" }}

        {{ partial "atom/atom-picture.html" . }}

    {{ .Scratch.Delete "quolity" }}
    {{ .Scratch.Delete "type" }}
    {{ .Scratch.Delete "src" }}
    {{ .Scratch.Delete "class" }}

    <div class="my-[64px] md:w-3/4 lg:w-[930px] mx-auto">
        <h2 class="text-[20px] 3xl:text-[40px] font-bold text-[#1A81B6] text-center">{{ $title }}</h2>
        <p class="text-[16px] 3xl:text-[30px]">{{ $text | markdownify }}</p>
    </div>
</div>