{{ $image_src := default "" (.Scratch.Get "src") }}

{{ $title := default "" (.Scratch.Get "title") }}

<div class="flex flex-col gap-y-8 md:gap-0 md:flex-row relative">
    <div class="bg-white flex flex-col justify-center text-[30px] font-bold bg-gradient-to-r from-[#FFF103] to-yellow-300 mr-10 absolute top-0 left-0 block w-[60px] h-[60px] 3xl:w-[80px] 3xl:h-[80px] text-center rounded-full">
        {{ partial "atom/span.annotation.html" . }}
    </div>

    <div class="w-[200px] h-[200px] 3xl:w-[270px] 3xl:h-[270px] shrink-0 bg-gradient-to-r from-sky-400 to-[#01A2EB] rounded-full flex flex-col justify-center mr-[30px]">
        {{ .Scratch.Set "class" "w-[85px] h-[80px] 3xl:w-[124px] 3xl:h-[110px] mx-auto" }}
        {{ .Scratch.Set "src" $image_src }}
        {{ .Scratch.Set "type" "thumbnail" }}

            {{ partial "atom/atom-picture.html" . }}

        {{ .Scratch.Delete "type" }}
        {{ .Scratch.Delete "src" }}
        {{ .Scratch.Delete "class" }}
    </div>
</div>

<div>
    <h2 class="text-center md:text-left mb-[24px] text-[28px] 3xl:text-[40px] font-bold">{{ $title | markdownify }}</h2>
    {{ partial "atom/p.html" . }}
</div>