<div class="flex flex-col md:flex-row justify-center mx-auto md:max-w-[1500px] items-center mt-[58px]">

    <div class="bg-[url('../img/fukidashi_cloud_1.webp')] bg-contain h-[200px] w-[200px] lg:w-[200px] lg:h-[200px] 3xl:w-[260px] 3xl:h-[240px] mt-4 flex flex-col justify-center bg-no-repeat shrink-0">
        <p class="text-[14px] lg:text-[16px] 3xl:text-[20px] mt-[-30px] mr-8 xl:mr-0 2xl:mr-8 text-center w-[175px] lg:w-[170px] 3xl:w-[215px]">
            <strong class='text-[#01A2EB] text-[20px] 3xl:text-[26px]'>自社システム</strong><br>の<br>メリットって？
        </p>
    </div>
    
    <div class="bg-gradient-to-r from-blue-600 to-[#01A2EB] p-2 rounded-3xl shrink-0 shadow-lg shadow-gray-500 w-full md:w-auto max-w-[360px] md:max-w-none">
        <div class="relative h-[185px] w-full md:h-[200px] md:w-[360px] lg:h-[275px] lg:w-[520px] 3xl:h-[375px] 3xl:w-[700px] rounded-3xl cursor-pointer select-none overflow-hidden">
        
            {{ .Scratch.Set "class" "w-full h-full object-contain mx-auto transform transition duration-500 hover:scale-110 movie-thumbnail" }}
            {{ .Scratch.Set "src" "images/paas-no-susume.png" }}
            {{ .Scratch.Set "type" "thumbnail-lg" }}
            {{ .Scratch.Set "id" "j_JhrVnCVFQ" }}
        
                {{ partial "atom/atom-picture.html" . }}
        
            {{ .Scratch.Delete "id" }}
            {{ .Scratch.Delete "type" }}
            {{ .Scratch.Delete "src" }}
            {{ .Scratch.Delete "class" }}
        
            <div class="bg-gradient-to-r from-blue-600 to-[#01A2EB] w-[66px] h-[66px] 3xl:w-[100px] 3xl:h-[100px] flex flex-col justify-center rounded-full border-4 border-[#1264A3] absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 pointer-events-none">
            
                {{ .Scratch.Set "class" "w-[22px] h-[22px] 3xl:w-[33px] 3xl:h-[33px] mx-auto" }}
                {{ .Scratch.Set "src" "images/arrow.png" }}
                {{ .Scratch.Set "type" "thumbnail-lg" }}
                {{ .Scratch.Set "quolity" "100" }}
            
                    {{ partial "atom/atom-picture.html" . }}
            
                {{ .Scratch.Delete "quolity" }}
                {{ .Scratch.Delete "type" }}
                {{ .Scratch.Delete "src" }}
                {{ .Scratch.Delete "class" }}
            
            </div>
        
        </div>
    </div>
    
    <div class="bg-[url('../img/fukidashi_cloud_2.webp')] bg-contain h-[180px] w-[180px] lg:h-[200px] lg:w-[200px] 3xl:w-[260px] 3xl:h-[240px] mt-4 ml-4 flex flex-col justify-center bg-no-repeat text-center shrink-0">
        <p class="text-[14px] lg:text-[16px] 3xl:text-[20px]">
            <strong class='text-[#01A2EB] text-[20px] 3xl:text-[26px]'>解説動画</strong>と<strong class='text-[#01A2EB] text-[20px] 3xl:text-[26px]'>マンガ</strong>で<br>詳しく知ろう！
        </p>
    </div>
    
</div>