{{ $color := .Scratch.Get "color" }}

{{ $color_class := "" }}
{{ $margin_class := "" }}
{{ if eq $color "dark" }}
    {{ $color_class = "bg-gradient-to-r from-blue-600 to-[#01A2EB]" }}
    {{ $margin_class = "" }}
{{ else }}
    {{ $color_class = "bg-gradient-to-r from-sky-600 to-[#5FBCE7]" }}
    {{ $margin_class = "mx-auto" }}
{{ end }}

<div class="relative w-fit transform transition duration-500 hover:scale-110 {{ $margin_class }}">
    <div class="mx-auto rounded-full mt-10 p-1.5 text-black font-bold text-[20px] 3xl:text-[26px] text-center shadow-lg shadow-gray-400 {{ $color_class }}">
        {{ partial "atom/a.button.html" . }}
    </div>
    
    <div class="{{ $color_class }} w-[44px] h-[44px] lg:w-[54px] lg:h-[54px] 3xl:w-[66px] 3xl:h-[66px] flex flex-col justify-center rounded-full absolute top-1/2 -translate-y-1/2 right-4 pointer-events-none">
        {{ .Scratch.Set "class" "w-[18px] h-[18px] md:w-[22px] md:h-[22px] mx-auto" }}
        {{ .Scratch.Set "src" "images/arrow.png" }}
        {{ .Scratch.Set "type" "thumbnail" }}
    
            {{ partial "atom/atom-picture.html" . }}
    
        {{ .Scratch.Delete "type" }}
        {{ .Scratch.Delete "src" }}
        {{ .Scratch.Delete "class" }}
    </div>
</div>