{{ $image_src := default "" (.Scratch.Get "src") }}

{{ $annotation := default "" (.Scratch.Get "annotation") }}
{{ $title := default "" (.Scratch.Get "title") }}
{{ $text := default "" (.Scratch.Get "text") }}

{{ $color := "" }}
{{ if eq $annotation "PLAN" }}
    {{ $color = "bg-gradient-to-r from-blue-700 to-[#01A2EB]" }}
{{ else if eq $annotation "DO" }}
    {{ $color = "bg-gradient-to-r from-orange-400 to-[#ECB22D]" }}
{{ else if eq $annotation "CHECK" }}
    {{ $color = "bg-gradient-to-r from-green-700 to-[#009872]" }}
{{ else if eq $annotation "ACTION" }}
    {{ $color = "bg-gradient-to-r from-red-700 to-[#E2017F]" }}
{{ end }}

{{ $textColor := "" }}
{{ if eq $annotation "PLAN" }}
    {{ $textColor = "text-[#01A2EA]" }}
{{ else if eq $annotation "DO" }}
    {{ $textColor = "text-[#ECB22D]" }}
{{ else if eq $annotation "CHECK" }}
    {{ $textColor = "text-[#009872]" }}
{{ else if eq $annotation "ACTION" }}
    {{ $textColor = "text-[#E2017E]" }}
{{ end }}

<div class="flex flex-col gap-y-8 md:gap-0 md:flex-row lg:mb-2 lg:mr-[-80px] 3xl:mr-0 relative">
    <div class="text-[24px] md:text-[20px] 3xl:text-[31px] font-bold text-white absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-[105px] h-[105px] xl:w-[117px] xl:h-[117px] 3xl:w-[140px] 3xl:h-[140px] text-center rounded-full {{ $color }}">
        <p class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 block">{{ $annotation }}</p>
    </div>

    <div class="w-[200px] h-[200px] xl:w-[230px] xl:h-[230px] 3xl:w-[270px] 3xl:h-[250px] shrink-0 rounded-full flex flex-col justify-center shadow-xl">
        {{ .Scratch.Set "class" "w-full h-full mx-auto" }}
        {{ .Scratch.Set "src" $image_src }}
        {{ .Scratch.Set "type" "thumbnail" }}

            {{ partial "atom/atom-picture.html" . }}

        {{ .Scratch.Delete "type" }}
        {{ .Scratch.Delete "src" }}
        {{ .Scratch.Delete "class" }}
    </div>
</div>

<div class="relative md:h-[220px] 3xl:h-[270px] md:w-4/5 3xl:w-3/5">
    <div class="w-full md:w-11/12 3xl:w-full 3xl:h-[253px] flex flex-col justify-center z-10 border-[#9D9D9D] border-2 md:border-[3.5px] rounded-3xl p-4 3xl:p-0 md:ml-8 lg:ml-28 3xl:ml-0 md:absolute inset-0 shadow-xl fukidashi">
        <h2 class="mb-5 3xl:ml-12 text-[24px] lg:text-[28px] 3xl:text-[40px] text-black font-bold text-center md:text-left {{ $textColor }}">{{ $title  | markdownify }}</h2>
        <p class="mb-4 3xl:ml-12 text-[15px] lg:text-[20px] 3xl:text-[28px] text-black text-center md:text-left">{{ $text  | markdownify  }}</p>
    </div>
</div>