{{ $image_src := default "" (.Scratch.Get "src") }}

{{ $annotation := default "" (.Scratch.Get "annotation") }}
{{ $title := default "" (.Scratch.Get "title") }}
{{ $text := default "" (.Scratch.Get "text") }}

{{ $color := "" }}

{{ if eq $annotation "PLAN" }}
    {{ $color = "bg-[#1A81B6]" }}
{{ else if eq $annotation "DO" }}
    {{ $color = "bg-[#ECB22D]" }}
{{ else if eq $annotation "CHECK" }}
    {{ $color = "bg-[#009872]" }}
{{ else if eq $annotation "ACTION" }}
    {{ $color = "bg-[#E01E5B]" }}
{{ end }}

<div class="flex flex-col gap-y-8 md:gap-0 md:flex-row lg:mb-2 lg:mr-[-80px] relative">
    <div class="text-[24px] md:text-[20px] 3xl:text-[31px] font-bold text-white absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 w-[100px] h-[100px] 3xl:w-[174px] 3xl:h-[174px] text-center rounded-full {{ $color }}">
        <p class="absolute top-1/2 -translate-y-1/2 left-1/2 -translate-x-1/2 block">{{ $annotation }}</p>
    </div>

    <div class="w-[200px] h-[200px] 3xl:w-[350px] 3xl:h-[350px] shrink-0 rounded-full flex flex-col justify-center shadow-xl">
        {{ .Scratch.Set "class" "w-full h-full mx-auto" }}
        {{ .Scratch.Set "src" $image_src }}
        {{ .Scratch.Set "type" "thumbnail" }}

            {{ partial "atom/atom-picture.html" . }}

        {{ .Scratch.Delete "type" }}
        {{ .Scratch.Delete "src" }}
        {{ .Scratch.Delete "class" }}
    </div>
</div>

<div class="md:w-4/5 3xl:h-[253px] 3xl:w-[1154px] flex flex-col justify-center z-10 border-[#9D9D9D] border-[3.5px] rounded-3xl p-4 3xl:p-0 md:ml-4 lg:ml-28 3xl:ml-0 relative before:absolute before:content-[''] md:before:bg-[url('../img/fukidashi_edge.png')] md:before:bg-cover before:w-[70px] before:h-[30px] before:top-1/2 before:left-[-68px] before:-translate-y-1/2 shadow-xl">
    <h2 class="mb-10 md:mb-5 3xl:ml-[140px] text-[20px] 3xl:text-[40px] text-black font-bold text-center md:text-left">{{ $title }}</h2>
    <p class="mb-4 3xl:ml-[140px] text-[15px] 3xl:text-[28px] text-black text-center md:text-left 3xl:text-center">{{ $text }}</p>
</div>