{{ define "main"}}

<main>
    
    <div id="black_background" class="fixed inset-0 h-screen w-screen left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-black opacity-0 invisible transition-opacity duration-1000 xl:hidden z-20"></div>

    <div id="request-form-pc" class="fixed top-[45%] -translate-y-1/2 xl:top-0 xl:mt-[90px] 3xl:mt-[110px] xl:translate-y-0 left-1/2 xl:left-auto -translate-x-1/2 xl:translate-x-0 xl:right-0 z-[999] xl:w-auto w-5/6 md:w-3/4 md:h-fit invisible xl:visible">
        {{ partial "molecule/request-form.html" .}}
    </div>

    <div id="request-form-mobile" class="fixed bottom-0 left-0 z-20 bg-white w-screen p-4 text-center xl:hidden">
        <button class="bg-gradient-to-r from-blue-600 to-[#01A2EB] border text-white rounded-2xl font-bold select-none text-sm px-6 py-3 md:text-xl md:px-10 md:py-6">
        ジェネリックDXの資料ダウンロードはこちら
        </button>
    </div>

    {{ partial "molecule/movie-modal.html" .}}

    {{ partial "key-visual.html" . }}

    {{ range (where .Site.RegularPages.ByWeight ".Params.isSection" "eq" true) }}

        {{ $section_class := "" }}
        {{ if eq .Title "Features" }}
            {{ $section_class = "bg-[url('../img/patternA.webp')] bg-cover" }}
        {{ else if eq .Title "Ebook" }}
            {{ $section_class = "bg-[url('../img/patternB.webp')] bg-cover relative after:content-[''] after:bg-black after:w-full after:h-full after:absolute after:top-0 after:left-0 after:bg-opacity-50 !text-left" }}
        {{ else if eq .Title "Process" }}
            {{ $section_class = "bg-[url('../img/patternC.webp')] bg-contain overflow-x-hidden" }}
        {{ else if or (eq .Title "Youtube") (eq .Title "Suggestion") }}
            {{ $section_class = "bg-gradient-to-r from-[#34A7E1] to-blue-500 border border-[#707070]" }}
        {{ end }}

        <section class="text-center py-32 px-2 3xl:pr-2 {{ $section_class }}" id="{{ .Title }}">
            <div class="w-full xl:w-[calc(100%_-_20rem)]">
                {{ .Content }}
            </div>
        </section>
    {{ end }}

</main>
{{ end }}

