{{ define "main"}}

<main>
    
    <div id="black_background" class="fixed inset-0 h-screen w-screen left-1/2 top-1/2 -translate-x-1/2 -translate-y-1/2 bg-black z-40 opacity-0 invisible transition-opacity duration-1000 lg:hidden z-[999]"></div>

    <div id="request-form-pc" class="fixed top-8 lg:translate-y-0 left-1/2 lg:left-auto -translate-x-1/2 lg:translate-x-0 lg:right-0 z-[999] md:w-3/4 lg:w-auto md:h-3/4 invisible">
        {{ partial "molecule/request-form.html" .}}
    </div>

    <div id="request-form-mobile" class="fixed bottom-0 left-0 z-[999] bg-white w-screen p-4 text-center lg:hidden">
        <button class="bg-[#1A81B6] border text-white rounded-2xl font-bold select-none text-sm px-6 py-3">
        ジェネリックDXの資料ダウンロードはこちら
        </button>
    </div>

    {{ partial "molecule/movie-modal.html" .}}

    {{ partial "key-visual.html" . }}

    {{ range (where .Site.RegularPages.ByWeight ".Params.isSection" "eq" true) }}

        {{ $section_class := "" }}
        {{ if eq .Title "Features" }}
            {{ $section_class = "bg-[url('../img/patterA.png')] bg-cover" }}
        {{ else if eq .Title "Ebook" }}
            {{ $section_class = "bg-[url('../img/patterB.png')] bg-cover relative after:content-[''] after:bg-black after:w-full after:h-full after:absolute after:top-0 after:left-0 after:bg-opacity-50 !text-left" }}
        {{ else if eq .Title "Process" }}
            {{ $section_class = "bg-[url('../img/patterC.png')] bg-contain overflow-x-hidden" }}
        {{ else if or (eq .Title "Youtube") (eq .Title "Suggestion") }}
            {{ $section_class = "bg-gradient-to-r from-[#34A7E1] to-blue-500 border border-[#707070]" }}
        {{ end }}

        <section class="text-center py-10 md:py-32 px-2 3xl:pr-2 {{ $section_class }}">
            <div class="w-full lg:w-[calc(100%_-_16rem)] 2xl:w-3/4 2xl:mx-auto">
                {{ .Content }}
            </div>
        </section>
    {{ end }}

</main>
{{ end }}

